@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
	font-family: 'Gilmer';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Gilmer-Bold.woff') format('woff'),
		url('../fonts/Gilmer-Bold.woff') format('woff2');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Gilmer, sans-serif, Arial;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.wrapper {
  overflow: hidden;
}

.container {
	max-width: 1304px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 4.72vw;
}

@media screen and (max-width: 767px) {
	.container {
		padding: 0 30px;
	}
}

.indent {
	padding-left: 8.2%;
}

@media screen and (max-width: 767px) {
	.indent {
		padding-left: 0;
	}
}

.button {
	display: inline-block;
	position: relative;
	border: none;
	height: 58px;
	padding: 0 34px;
	box-sizing: border-box;
	color: #11d8ee;
	font-size: 13px;
	font-weight: 700;
	background-color: #fff;
	border-radius: 3px;
	transition: opacity 0.35s ease-out;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}

.button__inner {
	display: flex;
	align-items: center;
	height: 100%;
}

.button:hover {
	opacity: 0.95;
	transition: none;
}

.button:active {
	opacity: 0.9;
	outline: none;
}

.button._icon {
	padding-right: 23px;
}

.button._icon .button__inner:after {
	content: '';
	display: block;
	flex: 0 0 auto;
}

.button._icon-bubble {
}

.button._icon-bubble .button__inner:after {
	width: 22px;
	height: 22px;
	background-image: url('../img/icon-bubble.svg');
	margin-left: 25px;
}

@media screen and (max-width: 1000px) {
	.button {
		height: 50px;
		padding: 0 20px;
	}

	.button._icon {
		padding-right: 17px;
	}
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 55px;
	width: 100%;
	z-index: 1;
}

.header__container {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	position: relative;
	top: -0.902vw;
	left: -2.3vw;
	width: 141px;
}

@media screen and (max-width: 1000px) {
	.header__logo {
		width: 125px;
		left: -0.5vw;
	}
}

@media screen and (max-width: 767px) {
	.header__logo {
		top: auto;
		left: auto;
	}
}

@media screen and (max-width: 600px) {
	.header__button {
		display: none;
	}
}

.intro {
	box-sizing: border-box;
  background: #0ddcee url('../img/intro-bg.jpg') no-repeat center bottom;
  background-size: 1440px auto;
  color: #fff;
	overflow: hidden;
}

.intro__container {
	position: relative;
	padding-top: 204px;
	padding-bottom: 90px;
}

.intro__subtitle {
	margin-bottom: 10px;
	font-family: Roboto, sans-serif, Arial;
	font-weight: 300;
	font-size: 20px;
}

.intro__title {
	position: relative;
	left: -0.01em;
	font-size: 53px;
	margin-bottom: 16px;
}

.intro__featured-text {
	font-size: 32px;
	font-family: Roboto, sans-serif, Arial;
	margin-bottom: 2.3125em;
}

.intro__featured-text-inner {
	position: relative;
}

.intro__featured-text-image {
	position: absolute;
	right: -16px;
	bottom: -15px;
	width: 70px;
	vertical-align: bottom;
	transform: translateX(100%);
}

.intro__features {
	margin-bottom: 50px;
}

.intro__text {
	max-width: 485px;
	margin-bottom: 33px;
	font-size: 12px;
	line-height: 1.7;
	opacity: 0.8;
}

@keyframes layer-animation1 {
	40% {
		transform: rotate(1deg) skew(-4deg, -3deg) scale(0.95);
	}

  80% {
    transform: rotate(-1deg) skew(4deg, 3deg) scale(0.95);
  }
}

@keyframes layer-animation2 {
	60% {
		transform: rotate(-1deg) skew(3deg, 4deg) scale(0.9);
	}
}

.intro__layer {
	position: absolute;
	opacity: 0.05;
	animation: layer-animation1 15s infinite ease-in-out;
	will-change: transform;
}

.intro__layer:before {
	content: '';
	display: block;
	width: 695px;
	height: 657px;
	background-image: url('../img/pink.png');
	background-size: cover;
}

.intro__layer._1 {
	bottom: -160px;
	left: -400px;
}

.intro__layer._1:before {
	transform: rotate(180deg);
}

.intro__layer._2 {
	top: -60px;
	right: -470px;
	animation-duration: 18s;
	animation-name: layer-animation2;
}

@media screen and (max-width: 1000px) {
	.intro__title {
		font-size: 46px;
	}

	.intro__featured-text {
		font-size: 28px;
	}
}

@media screen and (max-width: 767px) {
	.intro {
		background-size: 820px auto;
	}

	.intro__container {
		padding-top: 180px;
		padding-bottom: 70px;
	}

	.intro__title {
		font-size: 40px;
	}

	.intro__featured-text {
		font-size: 28px;
	}

	.intro__text {
		max-width: 60%;
	}

	.intro__button {
		width: 220px;
	}
}

@media screen and (max-width: 450px) {
	.intro__text {
		max-width: 90%;
	}
}

.features {
}

.features__row {
	display: flex;
	margin-bottom: 54px;
}

.features__row:last-child {
	margin-bottom: 0;
}

.features__item {
}

.feature {
	position: relative;
	width: 230px;
	padding-left: 45px;
	box-sizing: border-box;
	font-family: Roboto, sans-serif, Arial;
}

.feature:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
}

.feature._percent:before {
	background-image: url('../img/icon-percent.svg');
	width: 28px;
	height: 27px;
}

.feature._gift:before {
	background-image: url('../img/icon-gift.svg');
	width: 25px;
	height: 30px;
}

.feature._tag:before {
	background-image: url('../img/icon-tag.svg');
	width: 36px;
	height: 42px;
}

.feature._trash-can:before {
	background-image: url('../img/icon-trash-can.svg');
	width: 18px;
	height: 30px;
}

@media screen and (max-width: 767px) {
	.features__row {
		flex-direction: column;
	}

	.features__row,
	.features__item {
		margin-bottom: 40px;
	}

	.features__item:last-child {
		margin-bottom: 0;
	}
}

.launch-info {
	padding-top: 75px;
	padding-bottom: 36px;
}

.launch-info__container {
	position: relative;
}

.launch-info__container:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(70%, -30%);
	width: 695px;
	height: 657px;
	box-sizing: border-box;
	background-image: url('../img/pink.png');
	background-size: cover;
}

.launch-info__title {
	margin-bottom: 55px;
	text-align: center;
	color: #ee4698;
	font-size: 24px;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.launch-info__logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 663px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 51px;
	opacity: 0.5;
}

.launch-info__logo._exchange {
	width: 107px;
}

.launch-info__logo._euroventure {
	width: 265px;
}

.launch-info__logo._trinity {
	width: 150px;
}

.launch-info__text {
	text-align: center;
	font-size: 30px;
	color: #a0a0a0;
}

@media screen and (max-width: 1180px) {
	.launch-info__container:before {
		width: 487px;
		height: 460px;
		transform: translate(70%, -30%);
	}
}

@media screen and (max-width: 1000px) {
	.launch-info__container:before {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.launch-info {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	.launch-info__title {
		max-width: 95%;
		font-size: 20px;
		margin-bottom: 52px;
	}

	.launch-info__logos {
		flex-direction: column;
	}

	.launch-info__logo {
		margin-bottom: 40px;
	}

	.launch-info__logo:last-child {
		margin-bottom: 0;
	}

	.launch-info__logo._exchange {
		width: 75px;
	}

	.launch-info__logo._euroventure {
		width: 186px;
	}

	.launch-info__logo._trinity {
		width: 105px;
	}

	.launch-info__text {
		font-size: 24px;
	}
}
